In [2]:
x = [1, 2, 3, 4, 5, 6]
print(x)

[1, 2, 3, 4, 5, 6]

In [4]:
print(x[:2])

[1, 2]

In [5]:
print(x[3:])

[4, 5, 6]

In [8]:
def firstn(n):
    i = 0
    while i<n:
        yield i
        i = i + 1

In [12]:
list = ["banana " + str(e) for e in firstn(10)]

In [14]:
print(list)

['banana 0', 'banana 1', 'banana 2', 'banana 3', 'banana 4', 'banana 5', 'banana 6', 'banana 7', 'banana 8', 'banana 9']

In [18]:
print(list[-2])

banana 8

In [20]:
list.extend(list)
print(list)

['banana 0', 'banana 1', 'banana 2', 'banana 3', 'banana 4', 'banana 5', 'banana 6', 'banana 7', 'banana 8', 'banana 9', 'banana 0', 'banana 1', 'banana 2', 'banana 3', 'banana 4', 'banana 5', 'banana 6', 'banana 7', 'banana 8', 'banana 9', 'banana 0', 'banana 1', 'banana 2', 'banana 3', 'banana 4', 'banana 5', 'banana 6', 'banana 7', 'banana 8', 'banana 9', 'banana 0', 'banana 1', 'banana 2', 'banana 3', 'banana 4', 'banana 5', 'banana 6', 'banana 7', 'banana 8', 'banana 9']

In [22]:
listOfLists = [list, list]
print(listOfLists)

[['banana 0', 'banana 1', 'banana 2', 'banana 3', 'banana 4', 'banana 5', 'banana 6', 'banana 7', 'banana 8', 'banana 9', 'banana 0', 'banana 1', 'banana 2', 'banana 3', 'banana 4', 'banana 5', 'banana 6', 'banana 7', 'banana 8', 'banana 9', 'banana 0', 'banana 1', 'banana 2', 'banana 3', 'banana 4', 'banana 5', 'banana 6', 'banana 7', 'banana 8', 'banana 9', 'banana 0', 'banana 1', 'banana 2', 'banana 3', 'banana 4', 'banana 5', 'banana 6', 'banana 7', 'banana 8', 'banana 9'], ['banana 0', 'banana 1', 'banana 2', 'banana 3', 'banana 4', 'banana 5', 'banana 6', 'banana 7', 'banana 8', 'banana 9', 'banana 0', 'banana 1', 'banana 2', 'banana 3', 'banana 4', 'banana 5', 'banana 6', 'banana 7', 'banana 8', 'banana 9', 'banana 0', 'banana 1', 'banana 2', 'banana 3', 'banana 4', 'banana 5', 'banana 6', 'banana 7', 'banana 8', 'banana 9', 'banana 0', 'banana 1', 'banana 2', 'banana 3', 'banana 4', 'banana 5', 'banana 6', 'banana 7', 'banana 8', 'banana 9']]

In [34]:
tuple = (1, 233, 42)
print(sorted(tuple))
print(tuple)

[1, 42, 233]
(1, 233, 42)

In [35]:
(age, income) = "32,120000".split(',')
print (age)
print (income)

32
120000

In [36]:
[e for e in firstn(10) if e%2==0]

[0, 2, 4, 6, 8]